{% extends 'tracker/base.html' %}
{% load static %}
{% block title %}Дзвінки{% endblock %}
{% block head %}
    <script>
    var len_calls = {{ all_call.count }}
    </script>
    <script src="{% static 'telephony/js/main.js' %}"></script>
    <style href="{% static 'telephony/css/style.css' %}"></style>
{% endblock %}
{% block content %}
    <div class="container">
        {% if all_call %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ім'я користувача</th>
                    <th>Маршрут</th>
                    <th>Номер телефону</th>
                    <th>Зателефоновано</th>
                    <th id="tab_button">Змінити стан</th>
                </tr>
                </thead>
                <tbody>
                {% for c in all_call %}
                    <tr id="{{ c.id }}table">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ c.user_id.get_name }}</td>
                        <td>{{ c.track_id }}</td>
                        <td>{{ c.user_id.phone_number }}</td>
                        {% if c.is_called %}
                            <td><p>•</p></td>
                            <td></td>
                        {% else %}
                            <td><p id="none{{ c.id }}" style="display: none">•</p></td>
                            <td>
                                <button type="button" class="btn btn-default" id="{{ c.id }}"
                                        onclick="check({{ c.id }})">
                                    Зателефоновано
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-default" id="clear_all">Очистити список</button>
        {% else %}
            <h1 align="center">Телефонів немає</h1>
        {% endif %}
    </div>
{% endblock %}