{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#212121">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'tracker/js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tracker/css/bootstrap.min.css' %}">
    <script>
        if (typeof jQuery == 'undefined') {
            console.log('jQuery hasn\'t loaded');
        } else {
            console.log('jQuery has loaded');
        }
    </script>
{% block head %}
{% endblock %}
</head>
<body>
{# Панель навігації#}
<div class="container-fluid" style="height: 50px"></div>
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Кур'єропомічник</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">Головна сторінка <span class="sr-only">(current)</span></a></li>
                    <li><a href="/admin/">Сторінка адміністратора</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user_name%}
                    <li><a href="/authorization/logout/">Вийти ({{ user_name }})</a></li>
                    {% else %}
                    <li><a href="/authorization/login/">Увійти</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{#///////////////#}
    {% block content %}
    {% endblock %}
<script src="{% static 'tracker/js/bootstrap.min.js' %}"></script>
</body>
</html>