{% extends 'tracker/base.html' %}
{% block title %}Дзвінки{% endblock %}
{% block head %}
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: "/telephony/check_new_call/" +{{ len_calls }},
                    type: "GET",
                    success: function (data) {
                        if (data == "1") {
                            location.reload()
                        }
                    }
                });
            }, 2500);
            $('#clear_all').click(function () {
                $.ajax({
                    url: "/telephony/clear_all/",
                    type: "GET",
                    success: function (data) {
                        if (data == "1") {
                            location.reload()
                        }
                    }
                });
            })
        });
        function check(id) {
            $('#' + id).fadeOut(1000);
            $('#none' + id).fadeIn(1000);
            $.ajax({
                url: "/telephony/change_call/" + id,
                type: "GET"
            });
        }

    </script>
    <style>
        td {
            height: 51px;
        }

        #tab_button {
            width: 264px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        {% if all_call %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ім'я користувача</th>
                    <th>Маршрут</th>
                    <th>Номер телефону</th>
                    <th>Зателефоновано</th>
                    <th id="tab_button">Змінити стан</th>
                </tr>
                </thead>
                <tbody>
                {% for c in all_call %}
                    <tr id="{{ c.id }}table">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ c.user_id.get_name }}</td>
                        <td>{{ c.track_id }}</td>
                        <td>{{ c.user_id.phone_number }}</td>
                        {% if c.is_called %}
                            <td><p>•</p></td>
                            <td></td>
                        {% else %}
                            <td><p id="none{{ c.id }}" style="display: none">•</p></td>
                            <td>
                                <button type="button" class="btn btn-default" id="{{ c.id }}"
                                        onclick="check({{ c.id }})">
                                    Зателефоновано
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-default" id="clear_all">Очистити список</button>
        {% else %}
            <h1>Телефонів немає</h1>
        {% endif %}
    </div>
{% endblock %}