{% extends 'tracker/base.html' %}
{% block title %}Дзвінки{% endblock %}
{% block head %}
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $.ajax({
                    url: "/telephony/check_new_call/" +{{ len_calls }},
                    type: "GET",
                    success: function (data) {
                        if (data == "1") {
                            location.reload()
                        }
                    }
                });
            }, 2500);
            $('#clear_all').click(function () {
                $.ajax({
                    url: "/telephony/clear_all/",
                    type: "GET",
                    success: function (data) {
                        if (data == "1") {
                            location.reload()
                        }
                    }
                });
            })
        });
        function check(id) {
            $('#' + id).fadeOut(1000);
            $('div #' + id + 'div h2').css('color', 'green');
            $.ajax({
                url: "/telephony/change_call/" + id,
                type: "GET"
            });
        }

    </script>
{% endblock %}
{% block content %}
    <div class="container">
        {% if all_call %}
            {% for c in all_call %}
                {% if not c.is_called %}
                    <div id="{{ c.id }}div">
                        <h2 style="color: darkred">{{ c }}</h2>
                        <button type="button" class="btn btn-default" id="{{ c.id }}" onclick="check({{ c.id }})">
                            Зателефоновано{{ c.id }}</button>
                    </div>
                {% else %}
                    <h2 style="color: green">{{ c }}</h2>
                {% endif %}
                <div style="height: 30px;"></div>
            {% endfor %}
            <div>
                {% if paginator.count != 0 %}
                    {% for i in paginator.page_range %}
                        <div style="display:inline-block;">
                            {% if i != page %}
                                <a href="{% url 'call_page' i %}">{{ i }}</a>
                            {% else %}
                                <a style="color: #2aff18;">{{ i }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <button type="button" class="btn btn-default" id="clear_all">Очистити список</button>
        {% else %}
            <h1>Телефонів немає</h1>
        {% endif %}
    </div>

{% endblock %}