{% extends 'tracker/base.html' %}
{% block title %}Tracker{% endblock %}
{% block content %}
{% if trackers %}
    <div class="container">
        {% for t in trackers %}
            <div>
            {% if not t.is_confirm %}
                <h1><a href="{% url 'tracker' t.pk%}">{{ t }}</a></h1>
            {% else %}
                <h1><a href="{% url 'tracker' t.pk%}">{{ t }}</a> - виконано</h1>
            {% endif %}
            </div>
            <div style="height: 30px;"></div>
        {% endfor %}
        <div>
        {% if paginator.count != 0 %}
            <nav>
            <ul class="pagination pagination-sm">
            {% for i in paginator.page_range %}
                    {% if i != page %}
                        <li class="page-item"><a class="page-link" href="{% url 'trackers_page' i %}">{{ i }}</a></li>
                    {% else %}
                         <li class="page-item"><a class="page-link" style="color: #2aff18;">{{ i }}</a></li>
                    {% endif %}
            {% endfor %}
            </ul>
            </nav>
            {% endif %}
        </div>
    {% else %}
        <h1>У вас не має треків</h1>
    {% endif %}
    </div>
{% endblock %}