{% extends 'tracker/base.html' %}
{% load static %}
{% block title %}Маршрути{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'tracker/css/css_tracker_maps.css' %}">
    <script>
        var end = {
            lat: parseFloat('{{ ob.place_id.position_lat }}'.replace(",", ".")),
            lng: parseFloat('{{ ob.place_id.position_long }}'.replace(",", "."))
        };
        var user_id = {{ ob.user_id.id }}
        var id = {{ ob.id }}
        var is_click_call = false;
        var is_click_call_conf = false;
        var start;
        var map;
    </script>
    <script src="{% static 'tracker/js/logic.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <h1>{{ ob.name }}</h1>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
            <p id="add_time">Додано: {{ ob.date_create }}</p>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <p>{{ ob.description }}</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
                <p>Необхідно доставити до: {{ ob.date_of_delivery }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div id="map"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-0">
                <div id="right-panel"></div>
            </div>
        </div>
        <br/>
        <div class="cont_button">
            <button type="button" class="btn btn-default" id="builder">Пободувати маршрут</button>
            <button type="button" class="btn btn-default" id="call">Зателефонувати</button>
            {% if not ob.is_confirm %}
                <button type="button" class="btn btn-default" id="confirm">Підтвердити виконання</button>
            {% endif %}
        </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT-WN94rBusbT5l4fv-8dKkMhx-iqN3wI&language=uk&callback=initMap"
        ></script>
        <script>initMap()</script>
{% endblock %}