{% extends 'tracker/base.html' %}
{% block title %}Користувачі{% endblock %}
{% block head %}{% endblock %}
{% block content %}
        {% for u in users %}
            <div>
                <h1><a href="{% url 'user_page'  u.id 1 %}">{{ u.first_name }} {{ u.last_name }}</a></h1>
            </div>
            <div style="height: 30px;"></div>
        {% endfor %}
            {% if paginator.count != 0 %}
                <nav>
                <ul class="pagination">
                {% for i in paginator.page_range %}
                        {% if i != page %}
                            <li class="page-item"><a class="page-link" href="{% url 'users_page' i %}">{{ i }}</a></li>
                        {% else %}
                            <li><a href="#">{{ i }}</a></li>
                        {% endif %}
                {% endfor %}
                </ul>
                </nav>
            {% endif %}
{% endblock %}
