html, body {
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
}

#map {
    width: auto;
    height: 300px;
    position: relative;
    overflow: hidden;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
}

#right-panel {
    font-family: 'Roboto', 'sans-serif';
    height: 300px;
    overflow: auto;
    float: left;
    display: none;
}
#add_time{
    margin-top: 30px;
    margin-left: 5px;
}