html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: auto;
    height: 300px;
    position: relative;
    overflow: hidden;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
}

#right-panel {
    font-family: 'Roboto', 'sans-serif';
    height: 300px;
    overflow: auto;
    float: left;
}